# Git related temporary files
*.patch
*.diff
*.orig
*.rej

# OS files
.DS_Store
.AppleDouble
.LSOverride
Icon?
.Spotlight-V100
.Trashes
.Trash-*
Thumbs.db
ehthumbs.db
Desktop.ini

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
!*.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
/infra/lambda.zip

# Environment variables
.env
.env.local

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
